<div class="row mb-4">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" id="searchInput" class="form-control bg-light border-0 shadow-sm"
                   placeholder="Search contacts...">
            <span class="input-group-text bg-transparent border-0">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary btn-gradient shadow" data-bs-toggle="modal" data-bs-target="#addContactModal">
            <i class="fas fa-plus-circle me-2"></i>New Contact
        </button>
    </div>
</div>